
testes/android-developer/Movie DB Test/.idea/caches/

testes/android-developer/Movie DB Test/.idea/libraries/

testes/android-developer/Movie DB Test/local.properties

testes/android-developer/Movie DB Test/gradlew.bat

testes/android-developer/Movie DB Test/gradlew

testes/android-developer/Movie DB Test/.idea/workspace.xml

testes/android-developer/Movie DB Test/.idea/vcs.xml
